<html>
  <body>
    <h1> Add diary entry </h1>
     <p> 
     <form action='/add_entry' method='POST' >
     Title:
      <input type='text' name='title'>
      Tell me about your day:
      <input type='text' name='input'>
      <input type='submit' value='save' >
      </form>
     </p>

     <form action='/'>
      <input type='submit' value='cancel'>
    </form>
  </body>
</html>