<html>
  <body>
    <h1> Diary entries </h1>
     <ul> <% @entries.each do |entry| %>
     <li>
        <%= entry.name %>
      </li>
     <% end %>
     </ul>

     <form action='/add_entry'>
      <input type='submit' value='add entry'>
    </form>
  </body>
</html>