<html>
  <body>
   
    <h1> <%= @show_input.last.name %> </h1>
    <p> <%= @show_input.last.input %> </p>
     
    <form action='/'>
      <input type='submit' value='back'>
    </form>
    <form action='/add_entry'>
      <input type='submit' value='add entry'>
    </form>
  </body>
</html>